<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender para la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para el archivo -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${descuentados.log.path}</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rotar archivos diariamente -->
            <fileNamePattern>${descuentados.log.path}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>2</maxHistory>
            <totalSizeCap>500KB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Configuración raíz -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Reducir el nivel de log de librerías externas -->
    <logger name="com.google.api" level="WARN" />
    <logger name="org.apache.http" level="WARN" />
    <logger name="io.netty" level="WARN" />

    <!-- Nivel de log de la aplicación -->
    <logger name="org.malv.descuentados" level="DEBUG" />
</configuration>

